/*-------------------font--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda+One&family=Newsreader:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Open+Sans:wght@300&display=swap');




body{
    margin:0;
    padding: 0;
    font-family: 'Newsreader', serif;
    background: linear-gradient(to right bottom,
    rgb(224, 228, 0), rgb(36, 36, 27) );
    height: 100vh;
}

.container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content{
    background-image: linear-gradient(to right bottom,
    rgb(212, 212, 191), rgb(197, 197, 182) );
    height: 100vh;
    width: 400px;
    height:500px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0  rgba(0, 0, 0.4);
    background-position: center;
    background-size: cover;


   
}


.header{
    background:rgb(15, 207, 31);
    height: 65px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.header h2{
    color: white;
    padding-left: 15px;
    font-weight: normal;
}


.amigos{
    color:rgb(17, 17, 9);
    font-size: 25px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}



.fa-check{
    position: absolute;
    top: 130px;
    font-size: 50px;
    color:rgb(15, 207, 31);
    border: 2px solid rgb(15, 207, 31);
    border-radius: 100%;
    margin: 30px 0 0 160px;
    height: 80px;    
    width: 80px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
}

.submit h3{
    position: absolute;
    text-align: center;
    color: rgb(15, 207, 31);
    font-size: 23px;
    top: 230px;
    padding-left: 148px;
}

.content p{
    position: absolute;
    top: 270px;
    padding-top: 10px;
    padding-left: 50px;
    text-align: center;
    line-height: 22px;
    color: rgb(10, 7, 7);
}


.line{
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 1px;
    background-color: silver;
}

.close-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 1px solid rgb(8, 10, 8);
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}

.close-btn:hover{
    color: white;
    background:rgb(15, 207, 31);
    transition: .3s ease;
}



/*--------coded by Gaurab Dhakal on 18 May, 2021 at 1:49 darwin time------*/

@media(max-width:895px){     /*when the width of the screen is 
    less than 895px, the given properties comes into action*/

}

@media(max-width:767px){   /*when the width of the screen is 
  less than 767px, the given properties comes into action*/
.amigos h1{
font-size: 25px;
line-height:65px;
}
}



@media(max-width:555px){        /*when the width of the screen is 
    less than 555px, the given properties comes into action*/

}