/*Coded by Sandeep Rasali (S342931) on May 10, 2021 at 2:42, Darwin time*/
/*-----------Css for Reservation form--------------------*/

/*-------------------font--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Open+Sans:wght@300&display=swap');


body{
    
    font-weight: 400;
    color: white;
    height: 50%;
    width: 100%;
}


.container{
    background-color: rgb(155, 155, 54);
    display: grid;
    grid-template-columns: 40% 60%;
    height: 50%;
    width: 100%;
  
}




/*--------------------hours section-------------------*/
.hours{
    background-color: rgb(1, 0, 2);
    margin: 5px;
    padding: 50px;
    outline: 3px dashed rgb(204, 184, 0);
    outline-offset: -30px;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    background-image: url(../img/reservation/img2.JPG);
    background-position:center;
    background-size:cover;      
}

.hours::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.heading{
    color:rgb(221, 224, 9);
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.hours h3{
    font-size: 20px;
}

.hours p{
    color:rgb(249, 253, 0)
}



/*------------------form section -----------------*/

.book-form{
    margin: 0;
    padding: 50px;
}


.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-book{
    margin: 5px 5px 5px 0;
    background-image: linear-gradient(to right bottom,
    rgb(224, 228, 0), rgb(36, 36, 27) );
}
    


.book{
   height: 114vh;
    background-image: linear-gradient(110deg, rgba(120, 145, 61, 0.7) 0%,
    rgba(65, 60, 60, 0.9) 50%, transparent 50%),
    url(../img/reservation/img1.jpg);
    background-position: center;
    background-size: cover;
}




.form-control input {
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    font-family: cursive;
    font-size: 14px;
    padding: 10px;
    width: 50% 
  }

  .form-control p{
      font-size: 15px;
 }

  .button {
    background-color: #b8c41b;;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
  
  }
  .button:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);;
    opacity: 1;  
  }


  /*-----------------Responsive section-------------------------*/
  
  /*----------------- coded by Sandeep Rasali on 18 May, 2021 at 2:25am, Darwin time-------------------------*/

  @media(max-width:767px){
    .hours p{
        font-size:14px;
    }
}
    
@media(max-width:550px){
    .hours p{
        font-size:12px;
    }
}
    
@media(max-width:502px){
  .hours p{
      font-size:10px;
  }

  .heading{
      font-size: 19px;
  }
}
  